* {
  margin: 0em;
  padding: 0em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#headertab, #headerdesk {
  display: none;
}

#header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  min-height: 50px;
}

#header #logo img {
  width: 100%;
}

#header #nav #checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

#header #nav #checkbox:checked ~ #menu {
  top: 0px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#header #nav #container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  z-index: 4;
  position: relative;
}

#header #nav #container .hamburger-line {
  width: 20px;
  height: 4px;
  background-color: gray;
}

#header #nav #menu {
  position: absolute;
  width: 100%;
  background-color: burlywood;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -15vh;
  opacity: 0;
  left: 0px;
  min-height: 15vh;
}

#header #nav #menu a {
  text-decoration: none;
}

#footer1 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#mainlocation {
  background-color: whitesmoke;
  margin-left: 5%;
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[autofit];
      grid-template-columns: repeat(autofit, minmax(250px, 1fr));
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  row-gap: 5vw;
  min-height: 80vh;
  width: 90%;
  margin-bottom: 15px;
}

.location-image {
  width: 90%;
}

#mainlocation h1 {
  display: inline-block;
  border-bottom: 3px solid blueviolet;
  padding-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.location1 p {
  font-size: 20px;
  color: gray;
  padding: 10px;
  text-align: center;
}

.location1 a {
  color: blue;
  font-style: italic;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
}

.location1 {
  display: -ms-grid;
  display: grid;
}

#footer {
  justify-items: center;
  min-height: 10vh;
  background-color: cornsilk;
  display: -ms-grid;
  display: grid;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

@media screen and (min-width: 600px) {
  #header, #headerdesk {
    display: none;
  }
  #number {
    display: none;
  }
  .mainabout {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
    margin-right: 20px;
  }
  #headertab {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    min-height: 50px;
  }
  #headertab #logo img {
    width: 80%;
  }
  #headertab #navtab #checkbox {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  #headertab #navtab #checkbox:checked ~ #menutab {
    top: 0px;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #headertab #navtab #container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    z-index: 4;
    position: relative;
  }
  #headertab #navtab #container .hamburger-line {
    width: 20px;
    height: 4px;
    background-color: gray;
  }
  #headertab #navtab #menutab {
    position: absolute;
    width: 100%;
    background-color: burlywood;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -15vh;
    opacity: 0;
    left: 0px;
    min-height: 15vh;
  }
  #headertab #navtab #menutab a {
    text-decoration: none;
  }
}

@media screen and (min-width: 100px) {
  #header, #headertab {
    display: none;
  }
  #number {
    display: none;
  }
  #headerdesk {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[7];
        grid-template-columns: repeat(7, 1fr);
    min-height: 10vh;
    margin-left: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .btn {
    position: relative;
    border: 2px solid blueviolet;
    padding: 14px,16px;
    margin-left: 60px;
    color: black;
    overflow: hidden;
    -webkit-transition: 1s all ease;
    transition: 1s all ease;
  }
  .btn::before {
    background: blueviolet;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
  }
  .btn1::before {
    width: 0%;
    height: 100%;
  }
  .btn1:hover::before {
    width: 100%;
  }
  .btn2::before {
    width: 0%;
    height: 100%;
  }
  .btn2:hover::before {
    width: 100%;
  }
  .btn3::before {
    width: 0%;
    height: 100%;
  }
  .btn3:hover::before {
    width: 100%;
  }
  .btn4::before {
    width: 0%;
    height: 100%;
  }
  .btn4:hover::before {
    width: 100%;
  }
  .btn5::before {
    width: 0%;
    height: 100%;
  }
  .btn5:hover::before {
    width: 100%;
  }
  #logo {
    width: 100%;
  }
}
/*# sourceMappingURL=locationstyle.css.map */