* {
  margin: 0em;
  padding: 0em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#headertab, #headerdesk {
  display: none;
}

#header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  min-height: 50px;
}

#header #logo img {
  width: 100%;
}

#header #nav #checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

#header #nav #checkbox:checked ~ #menu {
  top: 0px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#header #nav #container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  z-index: 4;
  position: relative;
}

#header #nav #container .hamburger-line {
  width: 20px;
  height: 4px;
  background-color: gray;
}

#header #nav #menu {
  position: absolute;
  width: 100%;
  background-color: burlywood;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -15vh;
  opacity: 0;
  left: 0px;
  min-height: 15vh;
}

#header #nav #menu a {
  text-decoration: none;
}

#footer1 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#footer1 a {
  text-decoration: none;
}

#footer {
  justify-items: center;
  min-height: 10vh;
  background-color: cornsilk;
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.mainmenu {
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin-left: 5%;
  margin-top: 5vh;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  row-gap: 5vw;
  min-height: 80vh;
  text-align: center;
}

.grid-container {
  position: relative;
  -webkit-box-shadow: 0px 0px 0px beige;
          box-shadow: 0px 0px 0px beige;
}

.grid-container:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 7px beige;
          box-shadow: 5px 5px 7px beige;
  -webkit-transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: -webkit-box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: box-shadow 0.25s ease-in-out, -webkit-box-shadow 0.25s ease-in-out;
}

.grid-container:hover > .pizza-description-price {
  opacity: 1;
  -webkit-box-shadow: 5px 5px 7px beige;
          box-shadow: 5px 5px 7px beige;
  top: 20vh;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.pizza-image {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.pizza-description-price {
  text-align: center;
  opacity: 0;
  padding: 10px;
  position: absolute;
  z-index: 2;
  background-color: whitesmoke;
  -webkit-box-shadow: 0px 0px 0px beige;
          box-shadow: 0px 0px 0px beige;
  top: 0px;
}

.mainmenu h1 {
  display: inline-block;
  border-bottom: 2px solid blueviolet;
  padding-bottom: 10px;
  margin-top: 10px;
}

.grid-container h2 {
  font-size: 12px;
  margin: 0px;
  color: crimson;
  margin-bottom: 4px;
}

.grid-container p {
  color: burlywood;
  font-size: 14px;
}

@media screen and (min-width: 600px) {
  .grid-container {
    background-color: whitesmoke;
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  #number {
    display: none;
  }
  .menu1 {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: -ms-grid;
    display: grid;
  }
  .mainmenu {
    display: block;
  }
  #header, #headerdesk {
    display: none;
  }
  #headertab {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    min-height: 50px;
  }
  #headertab #logo img {
    width: 80%;
  }
  #headertab #navtab #checkbox {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  #headertab #navtab #checkbox:checked ~ #menutab {
    top: 0px;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #headertab #navtab #container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    z-index: 4;
    position: relative;
  }
  #headertab #navtab #container .hamburger-line {
    width: 20px;
    height: 4px;
    background-color: gray;
  }
  #headertab #navtab #menutab {
    position: absolute;
    width: 100%;
    background-color: burlywood;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -15vh;
    opacity: 0;
    left: 0px;
    min-height: 15vh;
  }
  #headertab #navtab #menutab a {
    text-decoration: none;
  }
}
/*# sourceMappingURL=menustyle.css.map */