* {
    margin: 0em;
    padding: 0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#headertab, #headerdesk {
  display: none;
}

#header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 4fr 2fr;
  min-height: 50px;

  #logo {
    img {
      width: 100%;
    }

  }

  #nav {
    #checkbox {
      width: 50px;
      height: 50px;
      position: absolute;
      opacity: 0;
      z-index: 5;
      
      
    }
    #checkbox:checked ~ #menu {
      top: 0px;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    
    #container {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 50px;
      height: 50px;
      z-index: 4;
      position: relative;
      .hamburger-line {
        width: 20px;
        height: 4px;
        background-color: gray;
      }
    }
    #menu {
      position: absolute;
      width: 100%;
      background-color: burlywood;
      display: grid;
      justify-items: center;
      align-items: center;
      top: -15vh;
      opacity: 0;
      left: 0px;
      min-height: 15vh;
       a {
         text-decoration: none;
       }
    }
  

  }
  
}

#footer1 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  

  a {
    text-decoration: none;
  }
  
}


#footer {
  justify-items: center;
  min-height: 10vh;
  background-color: cornsilk;
  text-align: center;
  
}













.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.mainmenu {
  background-color: whitesmoke;
  display: grid;
  width: 90%;
  margin-left: 5%;
  margin-top: 5vh;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  column-gap: 5vw;
  row-gap: 5vw;
  min-height: 80vh;
  text-align: center;
}

  .grid-container {
    position: relative;
    box-shadow: 0px 0px 0px beige;
  }
  .grid-container:hover {
    cursor: pointer;
    box-shadow: 5px 5px 7px beige;
    transition: box-shadow 0.25s ease-in-out;
  }
  .grid-container:hover > .pizza-description-price {
    opacity: 1;
    box-shadow: 5px 5px 7px beige;
    top: 20vh;
    transition: all 0.25s ease-in-out;

  }
  .pizza-image {
    width: 100%;
    height: 20vh;
    object-fit: cover;
  }
  .pizza-description-price {
    text-align: center;
    opacity: 0;
    padding: 10px;
    position: absolute;
    z-index: 2;
    background-color: whitesmoke;
    box-shadow: 0px 0px 0px beige;
    top: 0px;

  }
  .mainmenu h1 {
    display: inline-block;
    border-bottom: 2px solid blueviolet;
    padding-bottom: 10px;
    margin-top: 10px;

  }
  .grid-container h2 {
    font-size: 12px;
    margin: 0px;
    color: crimson;
    margin-bottom: 4px;

  }
  .grid-container p {
    color: burlywood;
    font-size: 14px;
  }


  @media screen and (min-width:600px){
    .grid-container {
      background-color: whitesmoke;
      text-align: center;
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      }
      #number {
        display: none;
      }
      
    
    .menu1 {
      grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
      
      display: grid;

    }
    .mainmenu {
      display: block;
    }

    #header, #headerdesk {
      display: none;
  
    }
  
  #headertab {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5,1fr);
    min-height: 50px;
    
  
    #logo {
      img {
        width: 80%;
      }
  
    }
  
    #navtab {
      #checkbox {
        width: 50px;
        height: 50px;
        position: absolute;
        opacity: 0;
        z-index: 5;
        
        
      }
      #checkbox:checked ~ #menutab {
        top: 0px;
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
      
      #container {
        display: grid;
        justify-items: center;
        align-items: center;
        width: 50px;
        height: 50px;
        z-index: 4;
        position: relative;
        .hamburger-line {
          width: 20px;
          height: 4px;
          background-color: gray;
        }
      }
      #menutab {
        position: absolute;
        width: 100%;
        background-color: burlywood;
        display: grid;
        justify-items: center;
        align-items: center;
        top: -15vh;
        opacity: 0;
        left: 0px;
        min-height: 15vh;
         a {
           text-decoration: none;
         }
      }
    
  
    }
  }  
  }


  @media screen and (min-width:1000px) {
    #header, #headertab {
      display: none;
      
      }
      #number {
        display: none;
      }
      #headerdesk {
        display: grid;
        grid-template-columns: repeat(7,1fr);
        min-height: 10vh;
        margin-left: 50px;
        
        
      
      
        align-items: center;
      }
      .btn {
        position: relative;
        border: 2px solid blueviolet;
        padding: 14px,16px;
        margin-left: 60px;
        color: black;
        overflow: hidden;
        transition: 1s all ease;
      }
      .btn::before {
        background: blueviolet;
        content: "";
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: -1;
        transition: 0.6s ease;
  
  
      }
  
      .btn1::before {
        width: 0%;
        height: 100%;
      } 
      .btn1:hover::before {
        width: 100%;
        
        
      } 
      .btn2::before {
        width: 0%;
        height: 100%;
      } 
      .btn2:hover::before {
        width: 100%;
        
        
      }
      .btn3::before {
        width: 0%;
        height: 100%;
      } 
      .btn3:hover::before {
        width: 100%;
        
        
      } 
      .btn4::before {
        width: 0%;
        height: 100%;
      } 
      .btn4:hover::before {
        width: 100%;
        
        
      }
      .btn5::before {
        width: 0%;
        height: 100%;
      }  
      .btn5:hover::before {
        width: 100%;
        
        
      } 
      #logo {
        width: 100%;
      } 
      
      
  
  
  
  }
