* {
    margin: 0em;
    padding: 0em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
#headertab, #headerdesk {
  display: none;
}

#header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 4fr 2fr;
  min-height: 50px;

  #logo {
    img {
      width: 100%;
    }

  }

  #nav {
    #checkbox {
      width: 50px;
      height: 50px;
      position: absolute;
      opacity: 0;
      z-index: 5;
      
      
    }
    #checkbox:checked ~ #menu {
      top: 0px;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    
    #container {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 50px;
      height: 50px;
      z-index: 4;
      position: relative;
      .hamburger-line {
        width: 20px;
        height: 4px;
        background-color: gray;
      }
    }
    #menu {
      position: absolute;
      width: 100%;
      background-color: burlywood;
      display: grid;
      justify-items: center;
      align-items: center;
      top: -15vh;
      opacity: 0;
      left: 0px;
      min-height: 15vh;
       a {
         text-decoration: none;
       }
    }
  

  }
  
}

#footer1 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
}
#main {
  background-color: whitesmoke;
  justify-items: center;
  align-items: center;
  min-height: 80vh;
}
#footer {
  justify-items: center;
  min-height: 10vh;
  background-color: cornsilk;
  text-align: center;

}















.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


.mainservices {
  background-color: whitesmoke;
  min-height: 80vh;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.mainservices h1 {
  display: inline-block;
  border-bottom: 2px solid blueviolet;
  padding-bottom: 10px;
  margin-top: 10px;

  

}
.mainservices {
  width: 90%;
  padding: 20px;
}
.service {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  
}
.service i {
  color: #3B5998;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;

}
.service h2 {
  font-size: 14px;
  margin: 0px;
  margin-bottom: 5px;
}
.service p {
  color: burlywood;
  font-size: 14px;
}



 


@media screen and (min-width:600px){
  .service1 {
    background-color: whitesmoke;
    min-height: 80vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 20px;
    
  }
  .mainservices {
    
    grid-template-columns: 1fr;
    padding: 20px;
  }
  
  
  
  

  
  

}
@media screen and (min-width: 1000) {
  .service1 {
    background-color: whitesmoke;
    min-height: 80vh;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 20px;
    
  }
  .mainservices {
    
    grid-template-columns: 1fr;
    padding: 20px;
  }
  
  
}