* {
    margin: 0em;
    padding: 0em;
    font-family: Arial, Helvetica , sans-serif;
    a {
      text-decoration: none;
    }
    
}
#headertab, #headerdesk {
  display: none;
}

#header {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 4fr 2fr;
  min-height: 50px;
  

  #logo {
    img {
      width: 80%;
    }

  }

  #nav {
    #checkbox {
      width: 50px;
      height: 50px;
      position: absolute;
      opacity: 0;
      z-index: 5;
      
      
    }
    #checkbox:checked ~ #menu {
      top: 0px;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    
    #container {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 50px;
      height: 50px;
      z-index: 4;
      position: relative;
      .hamburger-line {
        width: 20px;
        height: 4px;
        background-color: gray;
      }
    }
    #menu {
      position: absolute;
      width: 100%;
      background-color: burlywood;
      display: grid;
      justify-items: center;
      align-items: center;
      top: -15vh;
      opacity: 0;
      left: 0px;
      min-height: 15vh;
       a {
         text-decoration: none;
       }
    }
  

  }
  
}


#footer1 {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  
  
  a {
    text-decoration: none;
  }
}

#footer {
  justify-items: center;
  min-height: 10vh;
  align-items: center;
  background-color: cornsilk;
}














.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}


#main1 {
  margin: 0px auto;
  min-height: 30vh;
  position: relative;
  width: 100%;
  
  img {
    width: 100%;
  }
  
  p {
    color: whitesmoke;
    position: absolute;
    top: 30%;
    widows: 100%;
  
    
    
    font-style: italic;


  }
  

  
  
}

#mainhome {
  background-color: whitesmoke;
  display: grid;
  width: 90%;
  padding: 10px;
  min-height: 80vh;
  grid-template-rows: repeat(auto-fit,minmax(250px,1fr));
  column-gap: 5vw;
  row-gap: 10px;
  margin-left: 5%;
  
  
}

  
  


.home1 a {
  color: blueviolet;
  font-style: italic;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
}

.home-image {
  width: 90%;
  align-items: center;
}
.home1 p {
  text-align: center;
  padding: 10px;
  color: gray;

}


iframe {
  width: 100%;
}

.home1 {
  display: grid;
}










@media screen and (min-width:600px) {

  #header, #headerdesk {
    display: none;

  }
  #number {
    display: none;
  }

#headertab {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(5,1fr);
  min-height: 50px;
  

  #logo {
    img {
      width: 80%;
    }

  }

  #navtab {
    #checkbox {
      width: 50px;
      height: 50px;
      position: absolute;
      opacity: 0;
      z-index: 5;
      
      
    }
    #checkbox:checked ~ #menutab {
      top: 0px;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    
    #container {
      display: grid;
      justify-items: center;
      align-items: center;
      width: 50px;
      height: 50px;
      z-index: 4;
      position: relative;
      .hamburger-line {
        width: 20px;
        height: 4px;
        background-color: gray;
      }
    }
    #menutab {
      position: absolute;
      width: 100%;
      background-color: burlywood;
      display: grid;
      justify-items: center;
      align-items: center;
      top: -15vh;
      opacity: 0;
      left: 0px;
      min-height: 15vh;
       a {
         text-decoration: none;
       }
    }
  

  }
  
}
#mainhome {
  display: block;
  margin-left: 5%;
}

#video {
  min-height: 30vh;
  margin-top: 20px;
}


}
