* {
  margin: 0em;
  padding: 0em;
  font-family: Arial, Helvetica , sans-serif;
}

* a {
  text-decoration: none;
}

#headertab, #headerdesk {
  display: none;
}

#header {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 2fr 4fr 2fr;
      grid-template-columns: 2fr 4fr 2fr;
  min-height: 50px;
}

#header #logo img {
  width: 80%;
}

#header #nav #checkbox {
  width: 50px;
  height: 50px;
  position: absolute;
  opacity: 0;
  z-index: 5;
}

#header #nav #checkbox:checked ~ #menu {
  top: 0px;
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#header #nav #container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  z-index: 4;
  position: relative;
}

#header #nav #container .hamburger-line {
  width: 20px;
  height: 4px;
  background-color: gray;
}

#header #nav #menu {
  position: absolute;
  width: 100%;
  background-color: burlywood;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -15vh;
  opacity: 0;
  left: 0px;
  min-height: 15vh;
}

#header #nav #menu a {
  text-decoration: none;
}

#footer1 {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

#footer1 a {
  text-decoration: none;
}

#footer {
  justify-items: center;
  min-height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: cornsilk;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

#main1 {
  margin: 0px auto;
  min-height: 30vh;
  position: relative;
  width: 100%;
}

#main1 img {
  width: 100%;
}

#main1 p {
  color: whitesmoke;
  position: absolute;
  top: 30%;
  widows: 100%;
  font-style: italic;
}

#mainhome {
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  width: 90%;
  padding: 10px;
  min-height: 80vh;
  -ms-grid-rows: (minmax(250px, 1fr))[auto-fit];
      grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  -webkit-column-gap: 5vw;
          column-gap: 5vw;
  row-gap: 10px;
  margin-left: 5%;
}

.home1 a {
  color: blueviolet;
  font-style: italic;
  margin-bottom: 15px;
  text-align: center;
  text-decoration: none;
}

.home-image {
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home1 p {
  text-align: center;
  padding: 10px;
  color: gray;
}

iframe {
  width: 100%;
}

.home1 {
  display: -ms-grid;
  display: grid;
}

@media screen and (min-width: 600px) {
  #header, #headerdesk {
    display: none;
  }
  #number {
    display: none;
  }
  #headertab {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    min-height: 50px;
  }
  #headertab #logo img {
    width: 80%;
  }
  #headertab #navtab #checkbox {
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0;
    z-index: 5;
  }
  #headertab #navtab #checkbox:checked ~ #menutab {
    top: 0px;
    opacity: 1;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  #headertab #navtab #container {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    z-index: 4;
    position: relative;
  }
  #headertab #navtab #container .hamburger-line {
    width: 20px;
    height: 4px;
    background-color: gray;
  }
  #headertab #navtab #menutab {
    position: absolute;
    width: 100%;
    background-color: burlywood;
    display: -ms-grid;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -15vh;
    opacity: 0;
    left: 0px;
    min-height: 15vh;
  }
  #headertab #navtab #menutab a {
    text-decoration: none;
  }
  #mainhome {
    display: block;
    margin-left: 5%;
  }
  #video {
    min-height: 30vh;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */